.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width :100%;
  max-width: 350px;
  margin-top: 30px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  button {
    margin-bottom: 30px;
    span {
      margin-right: 10px;
      font-size: 15px;
    }
  }
  .social-login--github {
    background-color: $black;
    color: white;
  }
  .social-login--facebook {
    background-color: #3b5998;
    color: white;
  }
}