html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

.fileUpload,
button,
input:not([type="file"]) {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  width: 100%;
  box-shadow: 0 3px 6px rgba(46, 46, 46, 0.16), 0 3px 6px rgba(0, 0, 0, 0.178);
}

button {
  background-color: #3498db;
  color: white;
}

button.delete {
  background-color: $red;
}

textarea {
  margin-bottom: 20px;
  width: 100%;
}

.fileUpload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  input {
    margin-left: 10px;
  }
}